*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Noto serif', sans-serif;
  }
  
  img{
    width: 50%;
  }

  .navmenu{
    ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  } 

  .ul, li, a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333333;
  }
  .ul, li, a:hover {
    background-color: #333333;
    color: white;
  } 

  }  

  .index{
    height: 80vh;
    background-image: url(./media/cabecera1.jpg);
    background-size: cover;
    opacity: .8;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat (5, 1fr);
  }
    
      
      /*container */
      
      .container{ 
        background-color: #333333;
        opacity: .8;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3 1fr);
        grid-template-rows: repeat (5, 1fr);
        }
      
     .content{
        margin: 30px 40px 30px 40px ;
        padding: 30px 40px 30px 40px;
        display: flex;
        padding: 5px;
        flex:35%;
       } 
      
      /* contenido - index */ 
      
      .texto-bienvenida{
        grid-column: 1/4;
        grid-row: 3/4;
       
        h1{
        font-family: sans-serif;
        font-size: 40px;
        color:#ece8df;
      }
    }
      
      
      /* contenido - contacto*/ 
      
  .contacto{
       
  .contacto{
  height: 100vh;
  background-image: url(../media/contacto.jpg);
  background-size: cover;
  opacity: .8;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat (4, 1fr);
  }
    
  .images{
  grid-column: 1/4;
  grid-row:1/2 ;
  }
      
  .formulario{
  grid-column: 1/3;
  grid-row: 2/4;
  }
      
  .mapa{
  grid-column: 3/4;
  grid-row: 2/4;
    }
  }
      
      
      /* Nosotros */
      
      .infoNosotros{
      
      .infoNosotros{
        margin: 30px 40px 30px 40px ;
        padding: 30px 40px 30px 40px;
       }
      
      .foto-equipo{
        margin: 30px 20px 5px 20px;
        padding: 30px 20px 5px 20px;
        height: 50%;
        width: 50%;
        }
      
      .foto-vision{
        margin: 30px 20px 5px 20px;
        padding: 30px 20px 5px 20px;
        height: 50%;
        width: 50%;
      }
      
      .foto-mision{
        margin: 30px 20px 5px 20px;
        padding: 30px 20px 5px 20px;
        height: 50%;
        width: 50%;
      }
     }

       /* servicios */
      
       .servicios__fotos {
        margin: 30px 20px 5px 20px;
        padding: 30px 20px 5px 20px;
        }
    
      .service__1{
        padding: 30px 70px 0px 0px;
        height: 50%;
        width: 50%;
        }
    
      .service__2{
        padding: 30px 70px 0px 0px;
        height: 50%;
         width: 50%;
        }
    
      .service__3{
        padding: 30px 70px 70px 0px;
        height: 50%;
        width: 50%;
        }
      
      
       /* historias */
      
      .historias{
        list-style: none;
        padding-bottom: 15px;
       }
      
       .story1{
        margin: 10px 10px 10px 10px;
        padding: 10px 5px 10px 5px;
        height: 50%;
        width: 50%;
      }
      
       /* Blog */
      
  .blog{
  .blog{
  height: 50%;
   width: 50%;
  }
      
 .blogList{
  list-style: none;
  padding-bottom: 15px;
      }
  }
      
       /* contacto */
      
       .images__contact{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
          
       .contacto__1{
        height: 200px;
        width: 400px;
       } 
    
       .contacto__2{
        height: 200px;
        width: 400px;
       } 
    
       .contacto__3{
        height: 200px;
        width: 400px;
       } 
    
      .images__contact ul{
        list-style: none;
       }
       
    }
      
